<!-- UC02
O “guincheiro” entra no aplicativo EasyGuincho e clica no Link “Cadastro de guincho”,
ele automaticamente será redirecionado para uma tela de cadastro
onde ele irá informar placa do guincho, nome do motorista, cpf 
e carteira de motorista, tipos de serviços que irá prestar, 
e valor/hora ou valor/km, conforme tipo de serviço que irá prestar.
-->
<div class="modal">
  <div class="bar bar-header bar-dark">
    <button class="button" ng-click="closeModal()">back</button>
    <h1 class="title">Cadastro de Guinchos</h1>
  </div>
  </br></br></br>
  <form novalidate class="css-form">
    <center>
    <div class="list">
      <input class="text-center" type="text" placeholder="Placa" ng-model="data.placa">
      <input class="text-center" type="text" placeholder="Nome do Motorista" ng-model="data.nome">
      <input class="text-center" type="text" placeholder="CPF" ng-model="data.cpf">
      <input class="text-center" type="text" placeholder="CNH" ng-model="data.cnh">
    </div>
    </center>
    <ul class="list">
      <!-- TODO: Too ugly, add css -->
      <div class="item item-divider">Tipo de Serviço:</div>
      <li class="item item-checkbox  checkbox-dark" ng-repeat="item in tds" ng-model="data.tds" ng-checked="item.checked">
          <td>
            {{ item.text }}
            <label class="checkbox">
              <input type="checkbox" ng-model="data.tds">
            </label>
          </td>
          <td>
            <input class="text-right" type="text" placeholder="Valor" ng-model="item.value" >
          </td>
      </li>
    </ul>
    <a class="button button-full button-dark" type="submit" ng-click="Save(data)">Cadastrar</a>
  </form>
</div>