<!-- UC02
O “guincheiro” entra no aplicativo EasyGuincho e clica no Link “Cadastro de guincho”,
ele automaticamente será redirecionado para uma tela de cadastro
onde ele irá informar placa do guincho, nome do motorista, cpf 
e carteira de motorista, tipos de serviços que irá prestar, 
e valor/hora ou valor/km, conforme tipo de serviço que irá prestar.
-->
<div class="modal">
  <div class="bar bar-header bar-dark">
    <h1 class="title">Eazy Guincho</h1>
  </div>
  </br></br></br>
  <form novalidate class="css-form">
    <center>      
      <a class="button button-full button-dark" ng-click="closeAllModal()">Chegou!</a>
      </br></br></br>      
      <div class="item item-divider bar-dark">Avalie o Serviço</div>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </center>
  </form>
</div>